@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Vazirmatn', sans-serif;
}

body {
  direction: rtl;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #e0f0ff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #00c6ff, #0072ff);
  border-radius: 50px;
  border: 2px solid #f0f0f0;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0077cc;
  width: 20px;
}